# Access AWS

DB instance identifier: database-1
username: admin
password: 12345678
host: database-1.czxl3p86v9wq.us-east-1.rds.amazonaws.com
port: 3306

In [21]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in d:\msda assignment\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [35]:
import pymysql

In [36]:
db = pymysql.connect(host='db-ary-sjsu.cg2ebxzeg8ov.us-west-1.rds.amazonaws.com',user='aryama',password='123456789')

In [37]:
cursor = db.cursor()

In [38]:
cursor

In [39]:
cursor.execute('select version()')

1

In [40]:
data=cursor.fetchone()

In [41]:
data

('8.0.34',)

## Create a Table

In [42]:
sql = 'select * from `DATA225_LAB0`.`JOBPOST`'
cursor.execute(sql)

5351

In [43]:
cursor.connection.commit()

In [47]:
sql = '''use `DATA225_LAB1`'''
cursor.execute(sql)

0