In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from functools import reduce

In [3]:
data = pd.read_csv("companies1.csv",encoding='utf-8')

for column in data.columns:
    print(f"Column: {column}, Data Type: {data[column].dtype}")

Column: company_id, Data Type: int64
Column: name, Data Type: object
Column: description, Data Type: object
Column: company_size, Data Type: float64
Column: state, Data Type: object
Column: country, Data Type: object
Column: city, Data Type: object
Column: zip_code, Data Type: object
Column: address, Data Type: object
Column: url, Data Type: object

In [4]:
count_zero_company_id = (data['company_id'] == '0').sum()
count_null_company_id = data['company_id'].isnull().sum()

count_zero_name = (data['name'] == '0').sum()
count_null_name = data['name'].isnull().sum()

count_zero_company_size = (data['company_size'] == '0').sum()
count_null_company_size = data['company_size'].isnull().sum()

count_zero_states = (data['state'] == '0').sum()
count_null_states = data['state'].isnull().sum()

count_zero_country = (data['country'] == '0').sum()
count_null_country = data['country'].isnull().sum()

count_zero_zip_code = (data['zip_code'] == '0').sum()
count_null_zip_code = data['zip_code'].isnull().sum()

count_zero_address = (data['address'] == '0').sum()
count_null_address = data['address'].isnull().sum()

count_zero_url = (data['url'] == '0').sum()
count_null_url = data['url'].isnull().sum()

print("Counts of '0' values:")
print("Company ID:", count_zero_company_id)
print("Name:", count_zero_name)
print("Company Size:", count_zero_company_size)
print("States:", count_zero_states)
print("Country:", count_zero_country)
print("Zip Code:", count_zero_zip_code)
print("Address:", count_zero_address)
print("URL:", count_zero_url)

print("\nCounts of null (missing) values:")
print("Company ID:", count_null_company_id)
print("Name:", count_null_name)
print("Company Size:", count_null_company_size)
print("States:", count_null_states)
print("Country:", count_null_country)
print("Zip Code:", count_null_zip_code)
print("Address:", count_null_address)
print("URL:", count_null_url)

Counts of '0' values:
Company ID: 0
Name: 0
Company Size: 0
States: 480
Country: 156
Zip Code: 691
Address: 848
URL: 0

Counts of null (missing) values:
Company ID: 0
Name: 0
Company Size: 589
States: 3
Country: 0
Zip Code: 8
Address: 5
URL: 0

In [7]:
data6 = data[data['company_size'].notna() & (data['company_size'] != '0')]

In [8]:
data1 = data[data['state'] != '0']

In [9]:
data2 = data[data['country'] != '0']

In [10]:
data3 = data[data['zip_code'] != '0']

In [11]:
data4 = data[data['address'] != '0']

In [12]:
data5 = data[data['city']!= '0']

In [13]:
data.count()

company_id      6063
name            6063
description     5999
company_size    5474
state           6060
country         6063
city            6063
zip_code        6055
address         6058
url             6063
dtype: int64

In [14]:

mean_company_size = data6['company_size'].mean()
mean_company_size

3.764705882352941

In [15]:

data['company_size'] = data['company_size'].replace('0', mean_company_size)
data['company_size'] = data['company_size'].fillna(mean_company_size)
data

,company_id,name,description,company_size,state,country,city,zip_code,address,url
0,1009,IBM,"At IBM, we do more than work. We create. We cr...",7.0,NY,US,"Armonk, New York",10504,International Business Machines Corp.,https://www.linkedin.com/company/ibm
1,1016,GE HealthCare,Every day millions of people feel the impact o...,7.0,0,US,Chicago,0,-,https://www.linkedin.com/company/gehealthcare
2,1021,GE Power,"GE Power, part of GE Vernova, is a world energ...",7.0,NY,US,Schenectady,12345,1 River Road,https://www.linkedin.com/company/gepower
3,1025,Hewlett Packard Enterprise,Official LinkedIn of Hewlett Packard Enterpris...,7.0,Texas,US,Houston,77389,1701 E Mossy Oaks Rd Spring,https://www.linkedin.com/company/hewlett-packa...
4,1028,Oracle,Weâ€™re a cloud technology company that provides...,7.0,Texas,US,Austin,78741,2300 Oracle Way,https://www.linkedin.com/company/oracle
...,...,...,...,...,...,...,...,...,...,...
6058,3700144594,BYREDO,"""Beauty can be many things to many people. Our...",3.0,0,0,0,0,0,https://www.linkedin.com/company/byredo
6059,3700144710,"Pros2Plan, a division of Spinnaker SCA","Pros2Plan, a division of Spinnaker Services L...",2.0,CO,US,Boulder,80303,0,https://www.linkedin.com/company/pros2plan
6060,3700147810,Ascendo Resources,Ascendo Resources is a certified minority owne...,3.0,FL,US,Coral Gables,33134,2 Alhambra Plaza,https://www.linkedin.com/company/ascendoresources
6061,3700150295,The Crox Group,"The Crox Group, Head Quartered in Chicago, wit...",2.0,Illinois,US,Lincolnwood,60712,6818 N Lincoln Ave,https://www.linkedin.com/company/the-crox-group
6062,3700152513,Sidley Austin LLP,Sidley is an elite global law firm with nearly...,5.0,Illinois,US,Chicago,60603,One South Dearborn,https://www.linkedin.com/company/sidley-austin

In [16]:
mode1 = data1['state'].mode().iloc[0]
mode1

'CA'

In [17]:

data['state'] = data['state'].replace('0', mode1)
data['state'] = data['state'].fillna(mode1)
data

,company_id,name,description,company_size,state,country,city,zip_code,address,url
0,1009,IBM,"At IBM, we do more than work. We create. We cr...",7.0,NY,US,"Armonk, New York",10504,International Business Machines Corp.,https://www.linkedin.com/company/ibm
1,1016,GE HealthCare,Every day millions of people feel the impact o...,7.0,CA,US,Chicago,0,-,https://www.linkedin.com/company/gehealthcare
2,1021,GE Power,"GE Power, part of GE Vernova, is a world energ...",7.0,NY,US,Schenectady,12345,1 River Road,https://www.linkedin.com/company/gepower
3,1025,Hewlett Packard Enterprise,Official LinkedIn of Hewlett Packard Enterpris...,7.0,Texas,US,Houston,77389,1701 E Mossy Oaks Rd Spring,https://www.linkedin.com/company/hewlett-packa...
4,1028,Oracle,Weâ€™re a cloud technology company that provides...,7.0,Texas,US,Austin,78741,2300 Oracle Way,https://www.linkedin.com/company/oracle
...,...,...,...,...,...,...,...,...,...,...
6058,3700144594,BYREDO,"""Beauty can be many things to many people. Our...",3.0,CA,0,0,0,0,https://www.linkedin.com/company/byredo
6059,3700144710,"Pros2Plan, a division of Spinnaker SCA","Pros2Plan, a division of Spinnaker Services L...",2.0,CO,US,Boulder,80303,0,https://www.linkedin.com/company/pros2plan
6060,3700147810,Ascendo Resources,Ascendo Resources is a certified minority owne...,3.0,FL,US,Coral Gables,33134,2 Alhambra Plaza,https://www.linkedin.com/company/ascendoresources
6061,3700150295,The Crox Group,"The Crox Group, Head Quartered in Chicago, wit...",2.0,Illinois,US,Lincolnwood,60712,6818 N Lincoln Ave,https://www.linkedin.com/company/the-crox-group
6062,3700152513,Sidley Austin LLP,Sidley is an elite global law firm with nearly...,5.0,Illinois,US,Chicago,60603,One South Dearborn,https://www.linkedin.com/company/sidley-austin

In [18]:
mode2 = data2['country'].mode().iloc[0]

mode2

'US'

In [19]:
data['country'] = data['country'].replace('0', mode2)
data['country'] = data['country'].fillna(mode2)
data

,company_id,name,description,company_size,state,country,city,zip_code,address,url
0,1009,IBM,"At IBM, we do more than work. We create. We cr...",7.0,NY,US,"Armonk, New York",10504,International Business Machines Corp.,https://www.linkedin.com/company/ibm
1,1016,GE HealthCare,Every day millions of people feel the impact o...,7.0,CA,US,Chicago,0,-,https://www.linkedin.com/company/gehealthcare
2,1021,GE Power,"GE Power, part of GE Vernova, is a world energ...",7.0,NY,US,Schenectady,12345,1 River Road,https://www.linkedin.com/company/gepower
3,1025,Hewlett Packard Enterprise,Official LinkedIn of Hewlett Packard Enterpris...,7.0,Texas,US,Houston,77389,1701 E Mossy Oaks Rd Spring,https://www.linkedin.com/company/hewlett-packa...
4,1028,Oracle,Weâ€™re a cloud technology company that provides...,7.0,Texas,US,Austin,78741,2300 Oracle Way,https://www.linkedin.com/company/oracle
...,...,...,...,...,...,...,...,...,...,...
6058,3700144594,BYREDO,"""Beauty can be many things to many people. Our...",3.0,CA,US,0,0,0,https://www.linkedin.com/company/byredo
6059,3700144710,"Pros2Plan, a division of Spinnaker SCA","Pros2Plan, a division of Spinnaker Services L...",2.0,CO,US,Boulder,80303,0,https://www.linkedin.com/company/pros2plan
6060,3700147810,Ascendo Resources,Ascendo Resources is a certified minority owne...,3.0,FL,US,Coral Gables,33134,2 Alhambra Plaza,https://www.linkedin.com/company/ascendoresources
6061,3700150295,The Crox Group,"The Crox Group, Head Quartered in Chicago, wit...",2.0,Illinois,US,Lincolnwood,60712,6818 N Lincoln Ave,https://www.linkedin.com/company/the-crox-group
6062,3700152513,Sidley Austin LLP,Sidley is an elite global law firm with nearly...,5.0,Illinois,US,Chicago,60603,One South Dearborn,https://www.linkedin.com/company/sidley-austin

In [20]:
mode3 = data3['zip_code'].mode().iloc[0]
mode3

'10017'

In [21]:
data['zip_code'] = data['zip_code'].replace('0', mode3)
data['zip_code'] = data['zip_code'].fillna(mode3)
data

,company_id,name,description,company_size,state,country,city,zip_code,address,url
0,1009,IBM,"At IBM, we do more than work. We create. We cr...",7.0,NY,US,"Armonk, New York",10504,International Business Machines Corp.,https://www.linkedin.com/company/ibm
1,1016,GE HealthCare,Every day millions of people feel the impact o...,7.0,CA,US,Chicago,10017,-,https://www.linkedin.com/company/gehealthcare
2,1021,GE Power,"GE Power, part of GE Vernova, is a world energ...",7.0,NY,US,Schenectady,12345,1 River Road,https://www.linkedin.com/company/gepower
3,1025,Hewlett Packard Enterprise,Official LinkedIn of Hewlett Packard Enterpris...,7.0,Texas,US,Houston,77389,1701 E Mossy Oaks Rd Spring,https://www.linkedin.com/company/hewlett-packa...
4,1028,Oracle,Weâ€™re a cloud technology company that provides...,7.0,Texas,US,Austin,78741,2300 Oracle Way,https://www.linkedin.com/company/oracle
...,...,...,...,...,...,...,...,...,...,...
6058,3700144594,BYREDO,"""Beauty can be many things to many people. Our...",3.0,CA,US,0,10017,0,https://www.linkedin.com/company/byredo
6059,3700144710,"Pros2Plan, a division of Spinnaker SCA","Pros2Plan, a division of Spinnaker Services L...",2.0,CO,US,Boulder,80303,0,https://www.linkedin.com/company/pros2plan
6060,3700147810,Ascendo Resources,Ascendo Resources is a certified minority owne...,3.0,FL,US,Coral Gables,33134,2 Alhambra Plaza,https://www.linkedin.com/company/ascendoresources
6061,3700150295,The Crox Group,"The Crox Group, Head Quartered in Chicago, wit...",2.0,Illinois,US,Lincolnwood,60712,6818 N Lincoln Ave,https://www.linkedin.com/company/the-crox-group
6062,3700152513,Sidley Austin LLP,Sidley is an elite global law firm with nearly...,5.0,Illinois,US,Chicago,60603,One South Dearborn,https://www.linkedin.com/company/sidley-austin

In [22]:
mode4 = data4['address'].mode().iloc[0]
mode4

'3350 Riverwood Pkwy #1400'

In [23]:
data['address'] = data['address'].replace('0', mode4)
data['address'] = data['address'].fillna(mode4)
data

,company_id,name,description,company_size,state,country,city,zip_code,address,url
0,1009,IBM,"At IBM, we do more than work. We create. We cr...",7.0,NY,US,"Armonk, New York",10504,International Business Machines Corp.,https://www.linkedin.com/company/ibm
1,1016,GE HealthCare,Every day millions of people feel the impact o...,7.0,CA,US,Chicago,10017,-,https://www.linkedin.com/company/gehealthcare
2,1021,GE Power,"GE Power, part of GE Vernova, is a world energ...",7.0,NY,US,Schenectady,12345,1 River Road,https://www.linkedin.com/company/gepower
3,1025,Hewlett Packard Enterprise,Official LinkedIn of Hewlett Packard Enterpris...,7.0,Texas,US,Houston,77389,1701 E Mossy Oaks Rd Spring,https://www.linkedin.com/company/hewlett-packa...
4,1028,Oracle,Weâ€™re a cloud technology company that provides...,7.0,Texas,US,Austin,78741,2300 Oracle Way,https://www.linkedin.com/company/oracle
...,...,...,...,...,...,...,...,...,...,...
6058,3700144594,BYREDO,"""Beauty can be many things to many people. Our...",3.0,CA,US,0,10017,3350 Riverwood Pkwy #1400,https://www.linkedin.com/company/byredo
6059,3700144710,"Pros2Plan, a division of Spinnaker SCA","Pros2Plan, a division of Spinnaker Services L...",2.0,CO,US,Boulder,80303,3350 Riverwood Pkwy #1400,https://www.linkedin.com/company/pros2plan
6060,3700147810,Ascendo Resources,Ascendo Resources is a certified minority owne...,3.0,FL,US,Coral Gables,33134,2 Alhambra Plaza,https://www.linkedin.com/company/ascendoresources
6061,3700150295,The Crox Group,"The Crox Group, Head Quartered in Chicago, wit...",2.0,Illinois,US,Lincolnwood,60712,6818 N Lincoln Ave,https://www.linkedin.com/company/the-crox-group
6062,3700152513,Sidley Austin LLP,Sidley is an elite global law firm with nearly...,5.0,Illinois,US,Chicago,60603,One South Dearborn,https://www.linkedin.com/company/sidley-austin

In [24]:
mode5 = data5['city'].mode().iloc[0]
mode5

'New York'

In [25]:
data['city'] = data['city'].replace('0', mode5)
data['city'] = data['city'].fillna(mode5)

In [26]:
import unicodedata
import re
def safe_normalize(x):
    if isinstance(x, str):
        return unicodedata.normalize('NFC', x)
    else:
        return str(x)
data['description'] = data['description'].apply(safe_normalize)
data['description'] = data['description'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
data = data.replace({'\'': '', '"': '', ',': '', '': ''}, regex=True)


def safe_normalize(x):
    if isinstance(x, str):
        return unicodedata.normalize('NFC', x)
    else:
        return str(x)
data['address'] = data['address'].apply(safe_normalize)
data['address'] = data['address'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
data = data.replace({'\'': '', '"': '', ',': '', '': ''}, regex=True)


def safe_normalize(x):
    if isinstance(x, str):
        return unicodedata.normalize('NFC', x)
    else:
        return str(x)
data['city'] = data['city'].apply(safe_normalize)
data['city'] = data['city'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
data = data.replace({'\'': '', '"': '', ',': '', '': ''}, regex=True)


def safe_normalize(x):
    if isinstance(x, str):
        return unicodedata.normalize('NFC', x)
    else:
        return str(x)
data['address'] = data['address'].apply(safe_normalize)
data['address'] = data['address'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
data = data.replace({'\'': '', '"': '', ',': '', '': ''}, regex=True)


def safe_normalize(x):
    if isinstance(x, str):
        return unicodedata.normalize('NFC', x)
    else:
        return str(x)
data['url'] = data['url'].apply(safe_normalize)
data['url'] = data['url'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
data = data.replace({'\'': '', '"': '', ',': '', '': ''}, regex=True)

In [27]:
count_zero_company_id = (data['company_id'] == '0').sum()
count_zero_name = (data['name'] == '0').sum()
count_zero_company_size = (data['company_size'] == '0').sum()
count_zero_states = (data['state'] == '0').sum()
count_zero_country = (data['country'] == '0').sum()
count_zero_zip_code = (data['zip_code'] == '0').sum()
count_zero_address = (data['address'] == '0').sum()
count_zero_url = (data['url'] == '0').sum()
print(count_zero_company_id)
print(count_zero_name)
print(count_zero_company_size)

print(count_zero_states)
print(count_zero_country)
print(count_zero_zip_code)
print(count_zero_address)

print(count_zero_url)

0
0
0
0
0
0
0
0

In [28]:
import unicodedata
def safe_normalize(x):
    if isinstance(x, str):
        return unicodedata.normalize('NFC', x)
    else:
        return str(x)
data['description'] = data['description'].apply(safe_normalize)
data['description'] = data['description'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
data = data.replace({'\'': '', '"': '',',':''}, regex=True)

In [29]:
def safe_normalize(x):
    if isinstance(x, str):
        return unicodedata.normalize('NFC', x)
    else:
        return str(x)
data['address'] = data['address'].apply(safe_normalize)
data['address'] = data['address'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
data = data.replace({'\'': '', '"': '',',':''}, regex=True)

In [30]:
def safe_normalize(x):
    if isinstance(x, str):
        return unicodedata.normalize('NFC', x)
    else:
        return str(x)
data['state'] = data['state'].apply(safe_normalize)
data['state'] = data['state'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
data = data.replace({'\'': '', '"': '',',':''}, regex=True)

In [31]:
def safe_normalize(x):
    if isinstance(x, str):
        return unicodedata.normalize('NFC', x)
    else:
        return str(x)
data['url'] = data['url'].apply(safe_normalize)
data['url'] = data['url'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
data = data.replace({'\'': '', '"': '',',':''}, regex=True)

In [32]:
def safe_normalize(x):
    if isinstance(x, str):
        return unicodedata.normalize('NFC', x)
    else:
        return str(x)
data['name'] = data['name'].apply(safe_normalize)
data['name'] = data['name'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
data = data.replace({'\'': '', '"': '',',':''}, regex=True)

In [33]:
print(data.dtypes)

company_id        int64
name             object
description      object
company_size    float64
state            object
country          object
city             object
zip_code         object
address          object
url              object
dtype: object

In [34]:
data['company_id'] = data['company_id'].astype('int64')
data['name'] = data['name'].astype('string')  # Change to string data type
data['description'] = data['description'].astype('string')  # Change to string data type
data['company_size'] = data['company_size'].astype('float64')
data['state'] = data['state'].astype('string')  # Change to string data type
data['country'] = data['country'].astype('string')  # Change to string data type
data['city'] = data['city'].astype('string')  # Change to string data type
data['zip_code'] = data['zip_code'].astype('string')  # Change to string data type
data['address'] = data['address'].astype('string')  # Change to string data type
data['url'] = data['url'].astype('string')  # Change to string data type

# Check the updated data types
print(data.dtypes)

company_id        int64
name             string
description      string
company_size    float64
state            string
country          string
city             string
zip_code         string
address          string
url              string
dtype: object

In [35]:
data.count()

company_id      6063
name            6063
description     6063
company_size    6063
state           6063
country         6063
city            6063
zip_code        6063
address         6063
url             6063
dtype: int64

In [38]:
data.to_csv('~/Documents/companies.csv',index=False, encoding = 'utf-8')