In [205]:
import os
import pandas as pd
import datetime as dt
import numpy as np
import unicodedata
import re
from datetime import datetime

In [206]:
# read job postings file
jobpost_df = pd.read_csv('../job_postings.csv')

In [207]:
jobpost_df.head()

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,85008768,NaN,Licensed Insurance Agent,While many industries were hurt by the last fe...,52000.0,NaN,45760.0,YEARLY,Full-time,"Chico, CA",...,1.710000e+12,NaN,NaN,NaN,1.690000e+12,NaN,1,FULL_TIME,USD,BASE_SALARY
1,133114754,77766802.0,Sales Manager,Are you a dynamic and creative marketing profe...,NaN,NaN,NaN,NaN,Full-time,"Santa Clarita, CA",...,1.700000e+12,NaN,NaN,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
2,133196985,1089558.0,Model Risk Auditor,Join Us as a Model Risk Auditor – Showcase You...,NaN,NaN,NaN,NaN,Contract,"New York, NY",...,1.700000e+12,NaN,NaN,NaN,1.690000e+12,NaN,0,CONTRACT,NaN,NaN
3,381055942,96654609.0,Business Manager,Business ManagerFirst Baptist Church ForneyFor...,NaN,NaN,NaN,NaN,Full-time,"Forney, TX",...,1.700000e+12,NaN,NaN,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
4,529257371,1244539.0,NY Studio Assistant,YOU COULD BE ONE OF THE MAGIC MAKERS\nKen Fulk...,NaN,NaN,NaN,NaN,Full-time,"New York, NY",...,1.710000e+12,NaN,NaN,NaN,1.690000e+12,NaN,1,FULL_TIME,NaN,NaN

In [208]:
jobpost_df.shape

(15886, 27)

In [209]:
#Checking data types in Job postings dataset
jobpost_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15886 entries, 0 to 15885
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job_id                      15886 non-null  int64
 1   company_id                  15520 non-null  float64
 2   title                       15886 non-null  object
 3   description                 15885 non-null  object
 4   max_salary                  5521 non-null   float64
 5   med_salary                  981 non-null    float64
 6   min_salary                  5521 non-null   float64
 7   pay_period                  6502 non-null   object
 8   formatted_work_type         15886 non-null  object
 9   location                    15886 non-null  object
 10  applies                     8700 non-null   float64
 11  original_listed_time        15886 non-null  float64
 12  remote_allowed              2340 non-null   float64
 13  views                       13123 non-null  float64
 14  job_posting_url             15886 non-null  object
 15  application_url             9795 non-null   object
 16  application_type            15886 non-null  object
 17  expiry                      15886 non-null  float64
 18  closed_time                 928 non-null    float64
 19  formatted_experience_level  10984 non-null  object
 20  skills_desc                 144 non-null    object
 21  listed_time                 15886 non-null  float64
 22  posting_domain              9044 non-null   object
 23  sponsored                   15886 non-null  int64
 24  work_type                   15886 non-null  object
 25  currency                    6502 non-null   object
 26  compensation_type           6502 non-null   object
dtypes: float64(11), int64(2), object(14)
memory usage: 3.3+ MB

In [210]:
# Checking null values in each columns
jobpost_df.isnull().sum()

job_id                            0
company_id                      366
title                             0
description                       1
max_salary                    10365
med_salary                    14905
min_salary                    10365
pay_period                     9384
formatted_work_type               0
location                          0
applies                        7186
original_listed_time              0
remote_allowed                13546
views                          2763
job_posting_url                   0
application_url                6091
application_type                  0
expiry                            0
closed_time                   14958
formatted_experience_level     4902
skills_desc                   15742
listed_time                       0
posting_domain                 6842
sponsored                         0
work_type                         0
currency                       9384
compensation_type              9384
dtype: int64

In [211]:
#Missing value percentage in each column
percent_missing = jobpost_df.isnull().sum() * 100 / len(jobpost_df)
missing_val_jobpost_df = pd.DataFrame({'column_name': jobpost_df.columns,
                                 'percent_missing': percent_missing})

In [212]:
missing_val_jobpost_df

                                           column_name  percent_missing
job_id                                          job_id         0.000000
company_id                                  company_id         2.303915
title                                            title         0.000000
description                                description         0.006295
max_salary                                  max_salary        65.246129
med_salary                                  med_salary        93.824751
min_salary                                  min_salary        65.246129
pay_period                                  pay_period        59.070880
formatted_work_type                formatted_work_type         0.000000
location                                      location         0.000000
applies                                        applies        45.234798
original_listed_time              original_listed_time         0.000000
remote_allowed                          remote_allowed        85.270049
views                                            views        17.392673
job_posting_url                        job_posting_url         0.000000
application_url                        application_url        38.341936
application_type                      application_type         0.000000
expiry                                          expiry         0.000000
closed_time                                closed_time        94.158378
formatted_experience_level  formatted_experience_level        30.857359
skills_desc                                skills_desc        99.093541
listed_time                                listed_time         0.000000
posting_domain                          posting_domain        43.069369
sponsored                                    sponsored         0.000000
work_type                                    work_type         0.000000
currency                                      currency        59.070880
compensation_type                    compensation_type        59.070880

In [213]:
#Since skills_desc column has 99% null values, we are dropping the attribute.
jobpost_df_bakup=jobpost_df #before dropping columns taking a back up
#jobpost_df=jobpost_df_bakup

In [214]:
jobpost_df.drop('skills_desc', axis = 1, inplace = True)

In [215]:
jobpost_df.columns

Index(['job_id', 'company_id', 'title', 'description', 'max_salary',
       'med_salary', 'min_salary', 'pay_period', 'formatted_work_type',
       'location', 'applies', 'original_listed_time', 'remote_allowed',
       'views', 'job_posting_url', 'application_url', 'application_type',
       'expiry', 'closed_time', 'formatted_experience_level', 'listed_time',
       'posting_domain', 'sponsored', 'work_type', 'currency',
       'compensation_type'],
      dtype='object')

In [216]:
#Also, closed_time , med_salary has more than 90% null value data. So we are removing them.
jobpost_df.drop(['closed_time','med_salary','remote_allowed'],axis=1,inplace=True)

In [217]:
#description column is too wordy and we assume that this column is out of scope for our analysis.
jobpost_df.drop('description',axis=1,inplace=True)

In [218]:
jobpost_df.columns

Index(['job_id', 'company_id', 'title', 'max_salary', 'min_salary',
       'pay_period', 'formatted_work_type', 'location', 'applies',
       'original_listed_time', 'views', 'job_posting_url', 'application_url',
       'application_type', 'expiry', 'formatted_experience_level',
       'listed_time', 'posting_domain', 'sponsored', 'work_type', 'currency',
       'compensation_type'],
      dtype='object')

In [219]:
##Checking numerical fields with null values
#max_salary,min_salary,applies and views have considerable amount of null values but less than 80%.
## Since they are of continuous data type, we will impute them with median values.

In [220]:
jobpost_df['max_salary'].fillna(value = jobpost_df.max_salary.median(), inplace = True)
jobpost_df['min_salary'].fillna(value = jobpost_df.min_salary.median(), inplace = True)
jobpost_df['applies'].fillna(value = jobpost_df.applies.median(), inplace = True)
jobpost_df['views'].fillna(value = jobpost_df.views.median(), inplace = True)

In [221]:
# Checking null values again in each columns
jobpost_df.isnull().sum()

job_id                           0
company_id                     366
title                            0
max_salary                       0
min_salary                       0
pay_period                    9384
formatted_work_type              0
location                         0
applies                          0
original_listed_time             0
views                            0
job_posting_url                  0
application_url               6091
application_type                 0
expiry                           0
formatted_experience_level    4902
listed_time                      0
posting_domain                6842
sponsored                        0
work_type                        0
currency                      9384
compensation_type             9384
dtype: int64

In [222]:
jobpost_df[['pay_period','formatted_experience_level','posting_domain','currency','compensation_type']]

,pay_period,formatted_experience_level,posting_domain,currency,compensation_type
0,YEARLY,NaN,NaN,USD,BASE_SALARY
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
15881,NaN,Entry level,aspirebakeriescareers.com,NaN,NaN
15882,NaN,Entry level,recruiting.ultipro.com,NaN,NaN
15883,NaN,Entry level,recruiting.ultipro.com,NaN,NaN
15884,YEARLY,Mid-Senior level,opportunities.columbia.edu,USD,BASE_SALARY
15885,NaN,NaN,NaN,NaN,NaN

In [223]:
## pay_period,formatted_experience_level,posting_domain,currency,compensation_type are categorical variables.
## Lets explore their unique categories

In [224]:
jobpost_df.pay_period.unique()

array(['YEARLY', nan, 'HOURLY', 'MONTHLY'], dtype=object)

In [225]:
jobpost_df.formatted_experience_level.unique()

array([nan, 'Entry level', 'Associate', 'Mid-Senior level', 'Director',
       'Executive', 'Internship'], dtype=object)

In [226]:
jobpost_df.posting_domain.unique()

array([nan, 'jobs.gecareers.com', 'careers.racetrac.com', ...,
       'www.ixl.com', 'www.hrapply.com', 'opportunities.columbia.edu'],
      dtype=object)

In [227]:
jobpost_df.currency.unique()

array(['USD', nan], dtype=object)

In [228]:
jobpost_df.compensation_type.unique()

array(['BASE_SALARY', nan], dtype=object)

In [229]:
# Null values in the all categorical variables will be replaced with mode values.

In [230]:
for column in ['pay_period', 'formatted_experience_level', 'posting_domain', 'currency', 'compensation_type']:
    jobpost_df[column].fillna(jobpost_df[column].mode()[0], inplace=True)

In [231]:
# Checking null values again in each columns
jobpost_df.isnull().sum()

job_id                           0
company_id                     366
title                            0
max_salary                       0
min_salary                       0
pay_period                       0
formatted_work_type              0
location                         0
applies                          0
original_listed_time             0
views                            0
job_posting_url                  0
application_url               6091
application_type                 0
expiry                           0
formatted_experience_level       0
listed_time                      0
posting_domain                   0
sponsored                        0
work_type                        0
currency                         0
compensation_type                0
dtype: int64

In [232]:
## description column has 1 null value and application url has 6091 null values. 
## Since these two fields are text fields, we are replacing them with value'unkown'

In [233]:
jobpost_df['application_url'].fillna('unknown',inplace=True)
#jobpost_df['description'].fillna('unknown',inplace=True)

In [234]:
# Checking null values again in each columns
jobpost_df.isnull().sum()

job_id                          0
company_id                    366
title                           0
max_salary                      0
min_salary                      0
pay_period                      0
formatted_work_type             0
location                        0
applies                         0
original_listed_time            0
views                           0
job_posting_url                 0
application_url                 0
application_type                0
expiry                          0
formatted_experience_level      0
listed_time                     0
posting_domain                  0
sponsored                       0
work_type                       0
currency                        0
compensation_type               0
dtype: int64

In [235]:
# Since company id is numeric field and 366 data do not have compoany id, 
## we assume that remove them are not going to impact entire analysis.

In [236]:
jobpost_df.drop(jobpost_df[jobpost_df.company_id.isnull()==True].index, inplace=True)

In [237]:
# Checking null values again in each columns
jobpost_df.isnull().sum()

job_id                        0
company_id                    0
title                         0
max_salary                    0
min_salary                    0
pay_period                    0
formatted_work_type           0
location                      0
applies                       0
original_listed_time          0
views                         0
job_posting_url               0
application_url               0
application_type              0
expiry                        0
formatted_experience_level    0
listed_time                   0
posting_domain                0
sponsored                     0
work_type                     0
currency                      0
compensation_type             0
dtype: int64

In [238]:
#checking for 0 values in each columns

for column in jobpost_df.columns:
    print(column,(jobpost_df[column] == '0').sum())

job_id 0
company_id 0
title 0
max_salary 0
min_salary 0
pay_period 0
formatted_work_type 0
location 0
applies 0
original_listed_time 0
views 0
job_posting_url 0
application_url 0
application_type 0
expiry 0
formatted_experience_level 0
listed_time 0
posting_domain 0
sponsored 0
work_type 0
currency 0
compensation_type 0

In [239]:
[jobpost_df.columns]

[Index(['job_id', 'company_id', 'title', 'max_salary', 'min_salary',
        'pay_period', 'formatted_work_type', 'location', 'applies',
        'original_listed_time', 'views', 'job_posting_url', 'application_url',
        'application_type', 'expiry', 'formatted_experience_level',
        'listed_time', 'posting_domain', 'sponsored', 'work_type', 'currency',
        'compensation_type'],
       dtype='object')]

In [240]:
## Now we we will remove nonascii characters from all variable having strings
## description,application_url,posting_domain

In [241]:

def safe_normalize(x):
    if isinstance(x, str):
        return unicodedata.normalize('NFC', x)
    else:
        return str(x)

In [242]:
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [243]:
## Removing nonascii from description
#jobpost_df['description'] = jobpost_df['description'].apply(safe_normalize)
#jobpost_df['description'] = jobpost_df['description'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [244]:
## Removing nonascii from title
jobpost_df['title'] = jobpost_df['title'].apply(safe_normalize)
jobpost_df['title'] = jobpost_df['title'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))

In [245]:
## Removing nonascii from pay_period
jobpost_df['pay_period'] = jobpost_df['pay_period'].apply(safe_normalize)
jobpost_df['pay_period'] = jobpost_df['pay_period'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))

In [246]:
## Removing nonascii from formatted_work_type
jobpost_df['formatted_work_type'] = jobpost_df['formatted_work_type'].apply(safe_normalize)
jobpost_df['formatted_work_type'] = jobpost_df['formatted_work_type'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))

In [247]:
## Removing nonascii from location
jobpost_df['location'] = jobpost_df['location'].apply(safe_normalize)
jobpost_df['location'] = jobpost_df['location'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))

In [248]:
## Removing nonascii from job_posting_url
jobpost_df['job_posting_url'] = jobpost_df['job_posting_url'].apply(safe_normalize)
jobpost_df['job_posting_url'] = jobpost_df['job_posting_url'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))

In [249]:
## Removing nonascii from application_url
jobpost_df['application_url'] = jobpost_df['application_url'].apply(safe_normalize)
jobpost_df['application_url'] = jobpost_df['application_url'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [250]:
## Removing nonascii from application_type
jobpost_df['application_type'] = jobpost_df['application_type'].apply(safe_normalize)
jobpost_df['application_type'] = jobpost_df['application_type'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [251]:
## Removing nonascii from expiry
jobpost_df['expiry'] = jobpost_df['expiry'].apply(safe_normalize)
jobpost_df['expiry'] = jobpost_df['expiry'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [252]:
## Removing nonascii from formatted_experience_level
jobpost_df['formatted_experience_level'] = jobpost_df['formatted_experience_level'].apply(safe_normalize)
jobpost_df['formatted_experience_level'] = jobpost_df['formatted_experience_level'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [253]:
## Removing nonascii from listed_time
jobpost_df['listed_time'] = jobpost_df['listed_time'].apply(safe_normalize)
jobpost_df['listed_time'] = jobpost_df['listed_time'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [254]:
## Removing nonascii from posting_domain
jobpost_df['posting_domain'] = jobpost_df['posting_domain'].apply(safe_normalize)
jobpost_df['posting_domain'] = jobpost_df['posting_domain'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [255]:
## Removing nonascii from work_type
jobpost_df['work_type'] = jobpost_df['work_type'].apply(safe_normalize)
jobpost_df['work_type'] = jobpost_df['work_type'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [256]:
## Removing nonascii from currency
jobpost_df['currency'] = jobpost_df['currency'].apply(safe_normalize)
jobpost_df['currency'] = jobpost_df['currency'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))

In [257]:
## Removing nonascii from compensation_type
jobpost_df['compensation_type'] = jobpost_df['compensation_type'].apply(safe_normalize)
jobpost_df['compensation_type'] = jobpost_df['compensation_type'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [258]:
##Converting data types

In [259]:
#datetime.strptime(jobpost_df['expiry'],''%d/%m/%Y')
#pd.to_datetime(jobpost_df['expiry'], format='%d/%m/%Y')

In [260]:
# Check the  data types
jobpost_df.dtypes

job_id                          int64
company_id                    float64
title                          object
max_salary                    float64
min_salary                    float64
pay_period                     object
formatted_work_type            object
location                       object
applies                       float64
original_listed_time          float64
views                         float64
job_posting_url                object
application_url                object
application_type               object
expiry                         object
formatted_experience_level     object
listed_time                    object
posting_domain                 object
sponsored                       int64
work_type                      object
currency                       object
compensation_type              object
dtype: object

In [261]:
jobpost_df['job_id'] = jobpost_df['job_id'].astype('int64')
jobpost_df['company_id'] = jobpost_df['company_id'].astype('int64')
jobpost_df['title'] = jobpost_df['title'].astype('string') 
#jobpost_df['description'] = jobpost_df['description'].astype('string')  # Change to string data type
jobpost_df['max_salary'] = jobpost_df['max_salary'].astype('float64')  # Change to string data type
jobpost_df['min_salary'] = jobpost_df['min_salary'].astype('float64')  # Change to string data type
jobpost_df['pay_period'] = jobpost_df['pay_period'].astype('string')  # Change to string data type

jobpost_df['formatted_work_type'] = jobpost_df['formatted_work_type'].astype('string')  # Change to string data type
jobpost_df['location'] = jobpost_df['location'].astype('string')  # Change to string data type
jobpost_df['applies'] = jobpost_df['applies'].astype('int64')  # Change to string data type

jobpost_df['original_listed_time'] = jobpost_df['original_listed_time'].astype('float64')
jobpost_df['views'] = jobpost_df['views'].astype('int64')
jobpost_df['job_posting_url'] = jobpost_df['job_posting_url'].astype('string')
jobpost_df['application_url'] = jobpost_df['application_url'].astype('string')
jobpost_df['application_type'] = jobpost_df['application_type'].astype('string')
jobpost_df['expiry'] = jobpost_df['expiry'].astype('string')
jobpost_df['formatted_experience_level'] = jobpost_df['formatted_experience_level'].astype('string')

jobpost_df['listed_time'] = jobpost_df['listed_time'].astype('string')
jobpost_df['posting_domain'] = jobpost_df['posting_domain'].astype('string')
jobpost_df['sponsored'] = jobpost_df['sponsored'].astype('int64')
jobpost_df['work_type'] = jobpost_df['work_type'].astype('string')


jobpost_df['currency'] = jobpost_df['currency'].astype('string')
jobpost_df['compensation_type'] = jobpost_df['compensation_type'].astype('string')

# Check the updated data types
jobpost_df.dtypes

job_id                          int64
company_id                      int64
title                          string
max_salary                    float64
min_salary                    float64
pay_period                     string
formatted_work_type            string
location                       string
applies                         int64
original_listed_time          float64
views                           int64
job_posting_url                string
application_url                string
application_type               string
expiry                         string
formatted_experience_level     string
listed_time                    string
posting_domain                 string
sponsored                       int64
work_type                      string
currency                       string
compensation_type              string
dtype: object

In [262]:
jobpost_df.count()

job_id                        15520
company_id                    15520
title                         15520
max_salary                    15520
min_salary                    15520
pay_period                    15520
formatted_work_type           15520
location                      15520
applies                       15520
original_listed_time          15520
views                         15520
job_posting_url               15520
application_url               15520
application_type              15520
expiry                        15520
formatted_experience_level    15520
listed_time                   15520
posting_domain                15520
sponsored                     15520
work_type                     15520
currency                      15520
compensation_type             15520
dtype: int64

In [264]:
jobpost_df.to_csv('../preprocessed_job_postings.csv',index=False, encoding = 'utf-8')