In [467]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from functools import reduce
import unicodedata
import re

In [547]:
# read job postings file
data = pd.read_csv("job_postings.csv",encoding='utf-8')

#datatypes
for column in data.columns:
    print(f"Column: {column}, Data Type: {data[column].dtype}")

Column: job_id, Data Type: int64
Column: company_id, Data Type: float64
Column: title, Data Type: object
Column: description, Data Type: object
Column: max_salary, Data Type: float64
Column: med_salary, Data Type: float64
Column: min_salary, Data Type: float64
Column: pay_period, Data Type: object
Column: formatted_work_type, Data Type: object
Column: location, Data Type: object
Column: applies, Data Type: float64
Column: original_listed_time, Data Type: float64
Column: remote_allowed, Data Type: float64
Column: views, Data Type: float64
Column: job_posting_url, Data Type: object
Column: application_url, Data Type: object
Column: application_type, Data Type: object
Column: expiry, Data Type: float64
Column: closed_time, Data Type: float64
Column: formatted_experience_level, Data Type: object
Column: skills_desc, Data Type: object
Column: listed_time, Data Type: float64
Column: posting_domain, Data Type: object
Column: sponsored, Data Type: int64
Column: work_type, Data Type: object
Column: currency, Data Type: object
Column: compensation_type, Data Type: object

In [548]:
#counting the 0 values and null values in all columns 

count_zero_job_id = (data['job_id'] == '0').sum()
count_null_job_id = data['job_id'].isnull().sum()

count_zero_company_id = (data['company_id'] == '0').sum()
count_null_company_id = data['company_id'].isnull().sum()

count_zero_title = (data['title'] == '0').sum()
count_null_title = data['title'].isnull().sum()

count_zero_description = (data['description'] == '0').sum()
count_null_description = data['description'].isnull().sum()

count_zero_max_salary = (data['max_salary'] == '0').sum()
count_null_max_salary = data['max_salary'].isnull().sum()

count_zero_med_salary = (data['med_salary'] == '0').sum()
count_null_med_salary = data['med_salary'].isnull().sum()

count_zero_min_salary = (data['min_salary'] == '0').sum()
count_null_min_salary = data['min_salary'].isnull().sum()

count_zero_pay_period = (data['pay_period'] == '0').sum()
count_null_pay_period = data['pay_period'].isnull().sum()

count_zero_formatted_work_type = (data['formatted_work_type'] == '0').sum()
count_null_formatted_work_type = data['formatted_work_type'].isnull().sum()

count_zero_location = (data['location'] == '0').sum()
count_null_location = data['location'].isnull().sum()

count_zero_applies = (data['applies'] == '0').sum()
count_null_applies = data['applies'].isnull().sum()

count_zero_original_listed_time = (data['original_listed_time'] == '0').sum()
count_null_original_listed_time = data['original_listed_time'].isnull().sum()

count_zero_remote_allowed = (data['remote_allowed'] == '0').sum()
count_null_remote_allowed = data['remote_allowed'].isnull().sum()

count_zero_views = (data['views'] == '0').sum()
count_null_views = data['views'].isnull().sum()

count_zero_job_posting_url = (data['job_posting_url'] == '0').sum()
count_null_job_posting_url = data['job_posting_url'].isnull().sum()

count_zero_application_url = (data['application_url'] == '0').sum()
count_null_application_url = data['application_url'].isnull().sum()

count_zero_expiry = (data['expiry'] == '0').sum()
count_null_expiry = data['expiry'].isnull().sum()

count_zero_closed_time = (data['closed_time'] == '0').sum()
count_null_closed_time = data['closed_time'].isnull().sum()

#count_zero_formatted_experience_level = (data['formatted_experience_level'] == '0').sum()
#count_null_formatted_experience_level = data['formatted_experience_level'].isnull().sum()

count_zero_skills_desc = (data['skills_desc'] == '0').sum()
count_null_skills_desc = data['skills_desc'].isnull().sum()

count_zero_listed_time = (data['listed_time'] == '0').sum()
count_null_listed_time = data['listed_time'].isnull().sum()

count_zero_posting_domain = (data['posting_domain'] == '0').sum()
count_null_posting_domain = data['posting_domain'].isnull().sum()

count_zero_sponsored = (data['sponsored'] == '0').sum()
count_null_sponsored = data['sponsored'].isnull().sum()

count_zero_work_type = (data['work_type'] == '0').sum()
count_null_work_type = data['work_type'].isnull().sum()

count_zero_currency = (data['currency'] == '0').sum()
count_null_currency = data['currency'].isnull().sum()

count_zero_compensation_type = (data['compensation_type'] == '0').sum()
count_null_compensation_type = data['compensation_type'].isnull().sum()

print("Counts of '0' values:")
print("Job Id:", count_zero_job_id)
print("Company Id:", count_zero_company_id)
print("Title:", count_zero_title)
print("Description:", count_zero_description)
print("Max Salary:", count_zero_max_salary)
print("Med Salary:", count_zero_med_salary)
print("Min Salary:", count_zero_min_salary)
print("Pay Period:", count_zero_pay_period)
print("Formatted Work Type:", count_zero_formatted_work_type)
print("Location:", count_zero_location)
print("Applies:", count_zero_applies)
print("Original Listed Time:", count_zero_original_listed_time)
print("Remote Allowed:", count_zero_remote_allowed)
print("Views:", count_zero_views)
print("Job Posting Url:", count_zero_job_posting_url)
print("Application Url:", count_zero_application_url)
#print("Application Type:", count_zero_application_type)
print("Expiry:", count_zero_expiry)
print("Closed Time:", count_zero_closed_time)
print("Formatted Experience Level:", count_zero_formatted_experience_level)
print("Skills Desc:", count_zero_skills_desc)
print("Listed Time:", count_zero_listed_time)
print("Posting Domain:", count_zero_posting_domain)
print("Sponsored:", count_zero_sponsored)
print("Work Type:", count_zero_work_type)
print("Currency:", count_zero_currency)
print("Compensation Type:", count_zero_compensation_type)


print("\nCounts of null (missing) values:")
print("Job Id:", count_null_job_id)
print("Company Id:", count_null_company_id)
print("Title:", count_null_title)
print("Description:", count_null_description)
print("Max Salary:", count_null_max_salary)
print("Med Salary:", count_null_med_salary)
print("Min Salary:", count_null_min_salary)
print("Pay Period:", count_null_pay_period)
print("Formatted Work Type:", count_null_formatted_work_type)
print("Location:", count_null_location)
print("Applies:", count_null_applies)
print("Original Listed Time:", count_null_original_listed_time)
print("Remote Allowed:", count_null_remote_allowed)
print("Views:", count_null_views)
print("Job Posting Url:", count_null_job_posting_url)
print("Application Url:", count_null_application_url)
#print("Application Type:", count_null_application_type)
print("Expiry:", count_null_expiry)
print("Closed Time:", count_null_closed_time)
print("Formatted Experience Level:", count_null_formatted_experience_level)
print("Skills Desc:", count_null_skills_desc)
print("Listed Time:", count_null_listed_time)
print("Posting Domain:", count_null_posting_domain)
print("Sponsored:", count_null_sponsored)
print("Work Type:", count_null_work_type)
print("Currency:", count_null_currency)
print("Compensation Type:", count_null_compensation_type)

Counts of '0' values:
Job Id: 0
Company Id: 0
Title: 0
Description: 0
Max Salary: 0
Med Salary: 0
Min Salary: 0
Pay Period: 0
Formatted Work Type: 0
Location: 0
Applies: 0
Original Listed Time: 0
Remote Allowed: 0
Views: 0
Job Posting Url: 0
Application Url: 0
Expiry: 0
Closed Time: 0
Formatted Experience Level: 0
Skills Desc: 0
Listed Time: 0
Posting Domain: 0
Sponsored: 0
Work Type: 0
Currency: 0
Compensation Type: 0

Counts of null (missing) values:
Job Id: 0
Company Id: 366
Title: 0
Description: 1
Max Salary: 10365
Med Salary: 14905
Min Salary: 10365
Pay Period: 9384
Formatted Work Type: 0
Location: 0
Applies: 7186
Original Listed Time: 0
Remote Allowed: 13546
Views: 2763
Job Posting Url: 0
Application Url: 6091
Expiry: 0
Closed Time: 14958
Formatted Experience Level: 4902
Skills Desc: 15742
Listed Time: 0
Posting Domain: 6842
Sponsored: 0
Work Type: 0
Currency: 9384
Compensation Type: 9384

In [549]:
data.count()

job_id                        15886
company_id                    15520
title                         15886
description                   15885
max_salary                     5521
med_salary                      981
min_salary                     5521
pay_period                     6502
formatted_work_type           15886
location                      15886
applies                        8700
original_listed_time          15886
remote_allowed                 2340
views                         13123
job_posting_url               15886
application_url                9795
application_type              15886
expiry                        15886
closed_time                     928
formatted_experience_level    10984
skills_desc                     144
listed_time                   15886
posting_domain                 9044
sponsored                     15886
work_type                     15886
currency                       6502
compensation_type              6502
dtype: int64

In [550]:
#dropping columns that has more then 80% null values
data.drop(['closed_time','med_salary','remote_allowed', 'skills_desc'],axis=1,inplace=True)

In [551]:
data.count()

job_id                        15886
company_id                    15520
title                         15886
description                   15885
max_salary                     5521
min_salary                     5521
pay_period                     6502
formatted_work_type           15886
location                      15886
applies                        8700
original_listed_time          15886
views                         13123
job_posting_url               15886
application_url                9795
application_type              15886
expiry                        15886
formatted_experience_level    10984
listed_time                   15886
posting_domain                 9044
sponsored                     15886
work_type                     15886
currency                       6502
compensation_type              6502
dtype: int64

In [552]:
#checking the null values in each columns
data.isnull().sum()

job_id                            0
company_id                      366
title                             0
description                       1
max_salary                    10365
min_salary                    10365
pay_period                     9384
formatted_work_type               0
location                          0
applies                        7186
original_listed_time              0
views                          2763
job_posting_url                   0
application_url                6091
application_type                  0
expiry                            0
formatted_experience_level     4902
listed_time                       0
posting_domain                 6842
sponsored                         0
work_type                         0
currency                       9384
compensation_type              9384
dtype: int64

In [553]:
#data1 will contain only the rows where the 'company_id' column has valid non-null values that are not equal to '0'.
data1 = data[data['company_id'].notna() & (data['company_id'] != '0')]

In [554]:
#similar as above to all the different columns
#data2 = data[data['description'].notna() & (data['description'] != '0')]

In [555]:
data3 = data[data['max_salary'].notna() & (data['max_salary'] != '0')]

In [556]:
data4 = data[data['min_salary'].notna() & (data['min_salary'] != '0')]

In [557]:
data5 = data[data['pay_period'].notna() & (data['pay_period'] != '0')]

In [558]:
data6 = data[data['applies'].notna() & (data['applies'] != '0')]

In [559]:
data7 = data[data['views'].notna() & (data['views'] != '0')]

In [560]:
data8 = data[data['application_url'].notna() & (data['application_url'] != '0')]

In [561]:
data9 = data[data['formatted_experience_level'].notna() & (data['formatted_experience_level'] != '0')]

In [562]:
data10 = data[data['posting_domain'].notna() & (data['posting_domain'] != '0')]

In [563]:
data11 = data[data['currency'].notna() & (data['currency'] != '0')]

In [564]:
data12 = data[data['compensation_type'].notna() & (data['compensation_type'] != '0')]

In [565]:
data13 = data[data['application_type'].notna() & (data['application_type'] != '0')]

In [566]:
#counting number of not null values
data.count()

job_id                        15886
company_id                    15520
title                         15886
description                   15885
max_salary                     5521
min_salary                     5521
pay_period                     6502
formatted_work_type           15886
location                      15886
applies                        8700
original_listed_time          15886
views                         13123
job_posting_url               15886
application_url                9795
application_type              15886
expiry                        15886
formatted_experience_level    10984
listed_time                   15886
posting_domain                 9044
sponsored                     15886
work_type                     15886
currency                       6502
compensation_type              6502
dtype: int64

In [567]:
# calculating the mean of the 'company_id' column in the DataFrame data1 and 
#then using that mean value to replace 0 or null values in the 'company_id' column of the original DataFrame data.
#similarly for other columns, mean is used for int or float datatype and mode is used for object

mean_company_id = data1['company_id'].mean()
mean_company_id

10841003.883247422

In [568]:
data['company_id'] = data['company_id'].replace('0', mean_company_id)
data['company_id'] = data['company_id'].fillna(mean_company_id)
data

,job_id,company_id,title,description,max_salary,min_salary,pay_period,formatted_work_type,location,applies,...,application_url,application_type,expiry,formatted_experience_level,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,85008768,1.084100e+07,Licensed Insurance Agent,While many industries were hurt by the last fe...,52000.0,45760.0,YEARLY,Full-time,"Chico, CA",NaN,...,NaN,ComplexOnsiteApply,1.710000e+12,NaN,1.690000e+12,NaN,1,FULL_TIME,USD,BASE_SALARY
1,133114754,7.776680e+07,Sales Manager,Are you a dynamic and creative marketing profe...,NaN,NaN,NaN,Full-time,"Santa Clarita, CA",NaN,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
2,133196985,1.089558e+06,Model Risk Auditor,Join Us as a Model Risk Auditor – Showcase You...,NaN,NaN,NaN,Contract,"New York, NY",1.0,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,CONTRACT,NaN,NaN
3,381055942,9.665461e+07,Business Manager,Business ManagerFirst Baptist Church ForneyFor...,NaN,NaN,NaN,Full-time,"Forney, TX",NaN,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
4,529257371,1.244539e+06,NY Studio Assistant,YOU COULD BE ONE OF THE MAGIC MAKERS\nKen Fulk...,NaN,NaN,NaN,Full-time,"New York, NY",NaN,...,NaN,ComplexOnsiteApply,1.710000e+12,NaN,1.690000e+12,NaN,1,FULL_TIME,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15881,3701373516,7.471803e+07,Sanitation Technician,"Location:\n\nWest Columbia, SC, US, 29172\n\n2...",NaN,NaN,NaN,Part-time,"West Columbia, SC",NaN,...,https://aspirebakeriescareers.com/job/West-Col...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,aspirebakeriescareers.com,0,PART_TIME,NaN,NaN
15882,3701373522,3.889700e+04,Unit Secretary,Job Title: Unit Secretary\nDepartment: Nursing...,NaN,NaN,NaN,Full-time,"Teaneck, NJ",2.0,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,FULL_TIME,NaN,NaN
15883,3701373523,3.889700e+04,"Radiology Aide, Perdiem","Job Title: Radiology Aide, Perdiem\nDepartment...",NaN,NaN,NaN,Part-time,"Teaneck, NJ",NaN,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,PART_TIME,NaN,NaN
15884,3701373524,2.623000e+03,MRI Manager,Grade 105\nJob Type: Officer of Administration...,135000.0,110000.0,YEARLY,Full-time,"New York, NY",NaN,...,https://opportunities.columbia.edu/jobs/mri-ma...,OffsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,opportunities.columbia.edu,0,FULL_TIME,USD,BASE_SALARY
15885,3701373527,8.465900e+04,Area Director of Business Development,Nexion Health Management affiliates operate 56...,NaN,NaN,NaN,Full-time,"Vicksburg, MS",2.0,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN

In [569]:
#description column is too wordy and we assume that this column is out of scope for our analysis.
data.drop('description',axis=1,inplace=True)

In [570]:
mean_max_salary = data3['max_salary'].mean()
mean_max_salary

88336.22211193624

In [571]:
data['max_salary'] = data['max_salary'].replace('0', mean_max_salary)
data['max_salary'] = data['max_salary'].fillna(mean_max_salary)
data

,job_id,company_id,title,max_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,...,application_url,application_type,expiry,formatted_experience_level,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,85008768,1.084100e+07,Licensed Insurance Agent,52000.000000,45760.0,YEARLY,Full-time,"Chico, CA",NaN,1.690000e+12,...,NaN,ComplexOnsiteApply,1.710000e+12,NaN,1.690000e+12,NaN,1,FULL_TIME,USD,BASE_SALARY
1,133114754,7.776680e+07,Sales Manager,88336.222112,NaN,NaN,Full-time,"Santa Clarita, CA",NaN,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
2,133196985,1.089558e+06,Model Risk Auditor,88336.222112,NaN,NaN,Contract,"New York, NY",1.0,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,CONTRACT,NaN,NaN
3,381055942,9.665461e+07,Business Manager,88336.222112,NaN,NaN,Full-time,"Forney, TX",NaN,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
4,529257371,1.244539e+06,NY Studio Assistant,88336.222112,NaN,NaN,Full-time,"New York, NY",NaN,1.690000e+12,...,NaN,ComplexOnsiteApply,1.710000e+12,NaN,1.690000e+12,NaN,1,FULL_TIME,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15881,3701373516,7.471803e+07,Sanitation Technician,88336.222112,NaN,NaN,Part-time,"West Columbia, SC",NaN,1.690000e+12,...,https://aspirebakeriescareers.com/job/West-Col...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,aspirebakeriescareers.com,0,PART_TIME,NaN,NaN
15882,3701373522,3.889700e+04,Unit Secretary,88336.222112,NaN,NaN,Full-time,"Teaneck, NJ",2.0,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,FULL_TIME,NaN,NaN
15883,3701373523,3.889700e+04,"Radiology Aide, Perdiem",88336.222112,NaN,NaN,Part-time,"Teaneck, NJ",NaN,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,PART_TIME,NaN,NaN
15884,3701373524,2.623000e+03,MRI Manager,135000.000000,110000.0,YEARLY,Full-time,"New York, NY",NaN,1.690000e+12,...,https://opportunities.columbia.edu/jobs/mri-ma...,OffsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,opportunities.columbia.edu,0,FULL_TIME,USD,BASE_SALARY
15885,3701373527,8.465900e+04,Area Director of Business Development,88336.222112,NaN,NaN,Full-time,"Vicksburg, MS",2.0,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN

In [572]:
mean_min_salary = data4['min_salary'].mean()
mean_min_salary

62352.2180728129

In [573]:
data['min_salary'] = data['min_salary'].replace('0', mean_min_salary)
data['min_salary'] = data['min_salary'].fillna(mean_min_salary)
data

,job_id,company_id,title,max_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,...,application_url,application_type,expiry,formatted_experience_level,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,85008768,1.084100e+07,Licensed Insurance Agent,52000.000000,45760.000000,YEARLY,Full-time,"Chico, CA",NaN,1.690000e+12,...,NaN,ComplexOnsiteApply,1.710000e+12,NaN,1.690000e+12,NaN,1,FULL_TIME,USD,BASE_SALARY
1,133114754,7.776680e+07,Sales Manager,88336.222112,62352.218073,NaN,Full-time,"Santa Clarita, CA",NaN,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
2,133196985,1.089558e+06,Model Risk Auditor,88336.222112,62352.218073,NaN,Contract,"New York, NY",1.0,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,CONTRACT,NaN,NaN
3,381055942,9.665461e+07,Business Manager,88336.222112,62352.218073,NaN,Full-time,"Forney, TX",NaN,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
4,529257371,1.244539e+06,NY Studio Assistant,88336.222112,62352.218073,NaN,Full-time,"New York, NY",NaN,1.690000e+12,...,NaN,ComplexOnsiteApply,1.710000e+12,NaN,1.690000e+12,NaN,1,FULL_TIME,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15881,3701373516,7.471803e+07,Sanitation Technician,88336.222112,62352.218073,NaN,Part-time,"West Columbia, SC",NaN,1.690000e+12,...,https://aspirebakeriescareers.com/job/West-Col...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,aspirebakeriescareers.com,0,PART_TIME,NaN,NaN
15882,3701373522,3.889700e+04,Unit Secretary,88336.222112,62352.218073,NaN,Full-time,"Teaneck, NJ",2.0,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,FULL_TIME,NaN,NaN
15883,3701373523,3.889700e+04,"Radiology Aide, Perdiem",88336.222112,62352.218073,NaN,Part-time,"Teaneck, NJ",NaN,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,PART_TIME,NaN,NaN
15884,3701373524,2.623000e+03,MRI Manager,135000.000000,110000.000000,YEARLY,Full-time,"New York, NY",NaN,1.690000e+12,...,https://opportunities.columbia.edu/jobs/mri-ma...,OffsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,opportunities.columbia.edu,0,FULL_TIME,USD,BASE_SALARY
15885,3701373527,8.465900e+04,Area Director of Business Development,88336.222112,62352.218073,NaN,Full-time,"Vicksburg, MS",2.0,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN

In [574]:
mode1 = data5['pay_period'].mode().iloc[0]
mode1

'YEARLY'

In [575]:
data['pay_period'] = data['pay_period'].replace('0', mode1)
data['pay_period'] = data['pay_period'].fillna(mode1)
data

,job_id,company_id,title,max_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,...,application_url,application_type,expiry,formatted_experience_level,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,85008768,1.084100e+07,Licensed Insurance Agent,52000.000000,45760.000000,YEARLY,Full-time,"Chico, CA",NaN,1.690000e+12,...,NaN,ComplexOnsiteApply,1.710000e+12,NaN,1.690000e+12,NaN,1,FULL_TIME,USD,BASE_SALARY
1,133114754,7.776680e+07,Sales Manager,88336.222112,62352.218073,YEARLY,Full-time,"Santa Clarita, CA",NaN,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
2,133196985,1.089558e+06,Model Risk Auditor,88336.222112,62352.218073,YEARLY,Contract,"New York, NY",1.0,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,CONTRACT,NaN,NaN
3,381055942,9.665461e+07,Business Manager,88336.222112,62352.218073,YEARLY,Full-time,"Forney, TX",NaN,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
4,529257371,1.244539e+06,NY Studio Assistant,88336.222112,62352.218073,YEARLY,Full-time,"New York, NY",NaN,1.690000e+12,...,NaN,ComplexOnsiteApply,1.710000e+12,NaN,1.690000e+12,NaN,1,FULL_TIME,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15881,3701373516,7.471803e+07,Sanitation Technician,88336.222112,62352.218073,YEARLY,Part-time,"West Columbia, SC",NaN,1.690000e+12,...,https://aspirebakeriescareers.com/job/West-Col...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,aspirebakeriescareers.com,0,PART_TIME,NaN,NaN
15882,3701373522,3.889700e+04,Unit Secretary,88336.222112,62352.218073,YEARLY,Full-time,"Teaneck, NJ",2.0,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,FULL_TIME,NaN,NaN
15883,3701373523,3.889700e+04,"Radiology Aide, Perdiem",88336.222112,62352.218073,YEARLY,Part-time,"Teaneck, NJ",NaN,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,PART_TIME,NaN,NaN
15884,3701373524,2.623000e+03,MRI Manager,135000.000000,110000.000000,YEARLY,Full-time,"New York, NY",NaN,1.690000e+12,...,https://opportunities.columbia.edu/jobs/mri-ma...,OffsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,opportunities.columbia.edu,0,FULL_TIME,USD,BASE_SALARY
15885,3701373527,8.465900e+04,Area Director of Business Development,88336.222112,62352.218073,YEARLY,Full-time,"Vicksburg, MS",2.0,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN

In [576]:
mean_applies = data6['applies'].mean()
mean_applies

22.83310344827586

In [577]:
data['applies'] = data['applies'].replace('0', mean_applies)
data['applies'] = data['applies'].fillna(mean_applies)
data

,job_id,company_id,title,max_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,...,application_url,application_type,expiry,formatted_experience_level,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,85008768,1.084100e+07,Licensed Insurance Agent,52000.000000,45760.000000,YEARLY,Full-time,"Chico, CA",22.833103,1.690000e+12,...,NaN,ComplexOnsiteApply,1.710000e+12,NaN,1.690000e+12,NaN,1,FULL_TIME,USD,BASE_SALARY
1,133114754,7.776680e+07,Sales Manager,88336.222112,62352.218073,YEARLY,Full-time,"Santa Clarita, CA",22.833103,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
2,133196985,1.089558e+06,Model Risk Auditor,88336.222112,62352.218073,YEARLY,Contract,"New York, NY",1.000000,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,CONTRACT,NaN,NaN
3,381055942,9.665461e+07,Business Manager,88336.222112,62352.218073,YEARLY,Full-time,"Forney, TX",22.833103,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
4,529257371,1.244539e+06,NY Studio Assistant,88336.222112,62352.218073,YEARLY,Full-time,"New York, NY",22.833103,1.690000e+12,...,NaN,ComplexOnsiteApply,1.710000e+12,NaN,1.690000e+12,NaN,1,FULL_TIME,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15881,3701373516,7.471803e+07,Sanitation Technician,88336.222112,62352.218073,YEARLY,Part-time,"West Columbia, SC",22.833103,1.690000e+12,...,https://aspirebakeriescareers.com/job/West-Col...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,aspirebakeriescareers.com,0,PART_TIME,NaN,NaN
15882,3701373522,3.889700e+04,Unit Secretary,88336.222112,62352.218073,YEARLY,Full-time,"Teaneck, NJ",2.000000,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,FULL_TIME,NaN,NaN
15883,3701373523,3.889700e+04,"Radiology Aide, Perdiem",88336.222112,62352.218073,YEARLY,Part-time,"Teaneck, NJ",22.833103,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,PART_TIME,NaN,NaN
15884,3701373524,2.623000e+03,MRI Manager,135000.000000,110000.000000,YEARLY,Full-time,"New York, NY",22.833103,1.690000e+12,...,https://opportunities.columbia.edu/jobs/mri-ma...,OffsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,opportunities.columbia.edu,0,FULL_TIME,USD,BASE_SALARY
15885,3701373527,8.465900e+04,Area Director of Business Development,88336.222112,62352.218073,YEARLY,Full-time,"Vicksburg, MS",2.000000,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN

In [578]:
mean_views = data7['views'].mean()
mean_views

76.7765754781681

In [579]:
data['views'] = data['views'].replace('0', mean_views)
data['views'] = data['views'].fillna(mean_views)
data

,job_id,company_id,title,max_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,...,application_url,application_type,expiry,formatted_experience_level,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,85008768,1.084100e+07,Licensed Insurance Agent,52000.000000,45760.000000,YEARLY,Full-time,"Chico, CA",22.833103,1.690000e+12,...,NaN,ComplexOnsiteApply,1.710000e+12,NaN,1.690000e+12,NaN,1,FULL_TIME,USD,BASE_SALARY
1,133114754,7.776680e+07,Sales Manager,88336.222112,62352.218073,YEARLY,Full-time,"Santa Clarita, CA",22.833103,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
2,133196985,1.089558e+06,Model Risk Auditor,88336.222112,62352.218073,YEARLY,Contract,"New York, NY",1.000000,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,CONTRACT,NaN,NaN
3,381055942,9.665461e+07,Business Manager,88336.222112,62352.218073,YEARLY,Full-time,"Forney, TX",22.833103,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
4,529257371,1.244539e+06,NY Studio Assistant,88336.222112,62352.218073,YEARLY,Full-time,"New York, NY",22.833103,1.690000e+12,...,NaN,ComplexOnsiteApply,1.710000e+12,NaN,1.690000e+12,NaN,1,FULL_TIME,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15881,3701373516,7.471803e+07,Sanitation Technician,88336.222112,62352.218073,YEARLY,Part-time,"West Columbia, SC",22.833103,1.690000e+12,...,https://aspirebakeriescareers.com/job/West-Col...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,aspirebakeriescareers.com,0,PART_TIME,NaN,NaN
15882,3701373522,3.889700e+04,Unit Secretary,88336.222112,62352.218073,YEARLY,Full-time,"Teaneck, NJ",2.000000,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,FULL_TIME,NaN,NaN
15883,3701373523,3.889700e+04,"Radiology Aide, Perdiem",88336.222112,62352.218073,YEARLY,Part-time,"Teaneck, NJ",22.833103,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,PART_TIME,NaN,NaN
15884,3701373524,2.623000e+03,MRI Manager,135000.000000,110000.000000,YEARLY,Full-time,"New York, NY",22.833103,1.690000e+12,...,https://opportunities.columbia.edu/jobs/mri-ma...,OffsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,opportunities.columbia.edu,0,FULL_TIME,USD,BASE_SALARY
15885,3701373527,8.465900e+04,Area Director of Business Development,88336.222112,62352.218073,YEARLY,Full-time,"Vicksburg, MS",2.000000,1.690000e+12,...,NaN,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN

In [580]:
#mode2 = data8['application_url'].mode().iloc[0]
#mode2

In [581]:
#data['application_url'] = data['application_url'].replace('0', mode2)
#data['application_url'] = data['application_url'].fillna(mode2)
#data

In [582]:
data['application_url'].fillna('unknown',inplace=True)
data

,job_id,company_id,title,max_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,...,application_url,application_type,expiry,formatted_experience_level,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,85008768,1.084100e+07,Licensed Insurance Agent,52000.000000,45760.000000,YEARLY,Full-time,"Chico, CA",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.710000e+12,NaN,1.690000e+12,NaN,1,FULL_TIME,USD,BASE_SALARY
1,133114754,7.776680e+07,Sales Manager,88336.222112,62352.218073,YEARLY,Full-time,"Santa Clarita, CA",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
2,133196985,1.089558e+06,Model Risk Auditor,88336.222112,62352.218073,YEARLY,Contract,"New York, NY",1.000000,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,CONTRACT,NaN,NaN
3,381055942,9.665461e+07,Business Manager,88336.222112,62352.218073,YEARLY,Full-time,"Forney, TX",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
4,529257371,1.244539e+06,NY Studio Assistant,88336.222112,62352.218073,YEARLY,Full-time,"New York, NY",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.710000e+12,NaN,1.690000e+12,NaN,1,FULL_TIME,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15881,3701373516,7.471803e+07,Sanitation Technician,88336.222112,62352.218073,YEARLY,Part-time,"West Columbia, SC",22.833103,1.690000e+12,...,https://aspirebakeriescareers.com/job/West-Col...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,aspirebakeriescareers.com,0,PART_TIME,NaN,NaN
15882,3701373522,3.889700e+04,Unit Secretary,88336.222112,62352.218073,YEARLY,Full-time,"Teaneck, NJ",2.000000,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,FULL_TIME,NaN,NaN
15883,3701373523,3.889700e+04,"Radiology Aide, Perdiem",88336.222112,62352.218073,YEARLY,Part-time,"Teaneck, NJ",22.833103,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,PART_TIME,NaN,NaN
15884,3701373524,2.623000e+03,MRI Manager,135000.000000,110000.000000,YEARLY,Full-time,"New York, NY",22.833103,1.690000e+12,...,https://opportunities.columbia.edu/jobs/mri-ma...,OffsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,opportunities.columbia.edu,0,FULL_TIME,USD,BASE_SALARY
15885,3701373527,8.465900e+04,Area Director of Business Development,88336.222112,62352.218073,YEARLY,Full-time,"Vicksburg, MS",2.000000,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN

In [583]:
mode3 = data9['formatted_experience_level'].mode().iloc[0]
mode3

'Mid-Senior level'

In [584]:
data['formatted_experience_level'] = data['formatted_experience_level'].replace('0', mode3)
data['formatted_experience_level'] = data['formatted_experience_level'].fillna(mode3)
data

,job_id,company_id,title,max_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,...,application_url,application_type,expiry,formatted_experience_level,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,85008768,1.084100e+07,Licensed Insurance Agent,52000.000000,45760.000000,YEARLY,Full-time,"Chico, CA",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.710000e+12,Mid-Senior level,1.690000e+12,NaN,1,FULL_TIME,USD,BASE_SALARY
1,133114754,7.776680e+07,Sales Manager,88336.222112,62352.218073,YEARLY,Full-time,"Santa Clarita, CA",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
2,133196985,1.089558e+06,Model Risk Auditor,88336.222112,62352.218073,YEARLY,Contract,"New York, NY",1.000000,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,NaN,0,CONTRACT,NaN,NaN
3,381055942,9.665461e+07,Business Manager,88336.222112,62352.218073,YEARLY,Full-time,"Forney, TX",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
4,529257371,1.244539e+06,NY Studio Assistant,88336.222112,62352.218073,YEARLY,Full-time,"New York, NY",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.710000e+12,Mid-Senior level,1.690000e+12,NaN,1,FULL_TIME,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15881,3701373516,7.471803e+07,Sanitation Technician,88336.222112,62352.218073,YEARLY,Part-time,"West Columbia, SC",22.833103,1.690000e+12,...,https://aspirebakeriescareers.com/job/West-Col...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,aspirebakeriescareers.com,0,PART_TIME,NaN,NaN
15882,3701373522,3.889700e+04,Unit Secretary,88336.222112,62352.218073,YEARLY,Full-time,"Teaneck, NJ",2.000000,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,FULL_TIME,NaN,NaN
15883,3701373523,3.889700e+04,"Radiology Aide, Perdiem",88336.222112,62352.218073,YEARLY,Part-time,"Teaneck, NJ",22.833103,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,PART_TIME,NaN,NaN
15884,3701373524,2.623000e+03,MRI Manager,135000.000000,110000.000000,YEARLY,Full-time,"New York, NY",22.833103,1.690000e+12,...,https://opportunities.columbia.edu/jobs/mri-ma...,OffsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,opportunities.columbia.edu,0,FULL_TIME,USD,BASE_SALARY
15885,3701373527,8.465900e+04,Area Director of Business Development,88336.222112,62352.218073,YEARLY,Full-time,"Vicksburg, MS",2.000000,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN

In [585]:
mode4 = data10['posting_domain'].mode().iloc[0]
mode4

'jobs.smartrecruiters.com'

In [586]:
data['posting_domain'] = data['posting_domain'].replace('0', mode4)
data['posting_domain'] = data['posting_domain'].fillna(mode4)
data

,job_id,company_id,title,max_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,...,application_url,application_type,expiry,formatted_experience_level,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,85008768,1.084100e+07,Licensed Insurance Agent,52000.000000,45760.000000,YEARLY,Full-time,"Chico, CA",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.710000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,1,FULL_TIME,USD,BASE_SALARY
1,133114754,7.776680e+07,Sales Manager,88336.222112,62352.218073,YEARLY,Full-time,"Santa Clarita, CA",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,0,FULL_TIME,NaN,NaN
2,133196985,1.089558e+06,Model Risk Auditor,88336.222112,62352.218073,YEARLY,Contract,"New York, NY",1.000000,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,0,CONTRACT,NaN,NaN
3,381055942,9.665461e+07,Business Manager,88336.222112,62352.218073,YEARLY,Full-time,"Forney, TX",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,0,FULL_TIME,NaN,NaN
4,529257371,1.244539e+06,NY Studio Assistant,88336.222112,62352.218073,YEARLY,Full-time,"New York, NY",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.710000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,1,FULL_TIME,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15881,3701373516,7.471803e+07,Sanitation Technician,88336.222112,62352.218073,YEARLY,Part-time,"West Columbia, SC",22.833103,1.690000e+12,...,https://aspirebakeriescareers.com/job/West-Col...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,aspirebakeriescareers.com,0,PART_TIME,NaN,NaN
15882,3701373522,3.889700e+04,Unit Secretary,88336.222112,62352.218073,YEARLY,Full-time,"Teaneck, NJ",2.000000,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,FULL_TIME,NaN,NaN
15883,3701373523,3.889700e+04,"Radiology Aide, Perdiem",88336.222112,62352.218073,YEARLY,Part-time,"Teaneck, NJ",22.833103,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,PART_TIME,NaN,NaN
15884,3701373524,2.623000e+03,MRI Manager,135000.000000,110000.000000,YEARLY,Full-time,"New York, NY",22.833103,1.690000e+12,...,https://opportunities.columbia.edu/jobs/mri-ma...,OffsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,opportunities.columbia.edu,0,FULL_TIME,USD,BASE_SALARY
15885,3701373527,8.465900e+04,Area Director of Business Development,88336.222112,62352.218073,YEARLY,Full-time,"Vicksburg, MS",2.000000,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,0,FULL_TIME,NaN,NaN

In [587]:
mode5 = data11['currency'].mode().iloc[0]
mode5

'USD'

In [588]:
data['currency'] = data['currency'].replace('0', mode5)
data['currency'] = data['currency'].fillna(mode5)
data

,job_id,company_id,title,max_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,...,application_url,application_type,expiry,formatted_experience_level,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,85008768,1.084100e+07,Licensed Insurance Agent,52000.000000,45760.000000,YEARLY,Full-time,"Chico, CA",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.710000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,1,FULL_TIME,USD,BASE_SALARY
1,133114754,7.776680e+07,Sales Manager,88336.222112,62352.218073,YEARLY,Full-time,"Santa Clarita, CA",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,0,FULL_TIME,USD,NaN
2,133196985,1.089558e+06,Model Risk Auditor,88336.222112,62352.218073,YEARLY,Contract,"New York, NY",1.000000,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,0,CONTRACT,USD,NaN
3,381055942,9.665461e+07,Business Manager,88336.222112,62352.218073,YEARLY,Full-time,"Forney, TX",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,0,FULL_TIME,USD,NaN
4,529257371,1.244539e+06,NY Studio Assistant,88336.222112,62352.218073,YEARLY,Full-time,"New York, NY",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.710000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,1,FULL_TIME,USD,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15881,3701373516,7.471803e+07,Sanitation Technician,88336.222112,62352.218073,YEARLY,Part-time,"West Columbia, SC",22.833103,1.690000e+12,...,https://aspirebakeriescareers.com/job/West-Col...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,aspirebakeriescareers.com,0,PART_TIME,USD,NaN
15882,3701373522,3.889700e+04,Unit Secretary,88336.222112,62352.218073,YEARLY,Full-time,"Teaneck, NJ",2.000000,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,FULL_TIME,USD,NaN
15883,3701373523,3.889700e+04,"Radiology Aide, Perdiem",88336.222112,62352.218073,YEARLY,Part-time,"Teaneck, NJ",22.833103,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,PART_TIME,USD,NaN
15884,3701373524,2.623000e+03,MRI Manager,135000.000000,110000.000000,YEARLY,Full-time,"New York, NY",22.833103,1.690000e+12,...,https://opportunities.columbia.edu/jobs/mri-ma...,OffsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,opportunities.columbia.edu,0,FULL_TIME,USD,BASE_SALARY
15885,3701373527,8.465900e+04,Area Director of Business Development,88336.222112,62352.218073,YEARLY,Full-time,"Vicksburg, MS",2.000000,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,0,FULL_TIME,USD,NaN

In [589]:
mode6 = data12['compensation_type'].mode().iloc[0]
mode6

'BASE_SALARY'

In [590]:
data['compensation_type'] = data['compensation_type'].replace('0', mode6)
data['compensation_type'] = data['compensation_type'].fillna(mode6)
data

,job_id,company_id,title,max_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,...,application_url,application_type,expiry,formatted_experience_level,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,85008768,1.084100e+07,Licensed Insurance Agent,52000.000000,45760.000000,YEARLY,Full-time,"Chico, CA",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.710000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,1,FULL_TIME,USD,BASE_SALARY
1,133114754,7.776680e+07,Sales Manager,88336.222112,62352.218073,YEARLY,Full-time,"Santa Clarita, CA",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,0,FULL_TIME,USD,BASE_SALARY
2,133196985,1.089558e+06,Model Risk Auditor,88336.222112,62352.218073,YEARLY,Contract,"New York, NY",1.000000,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,0,CONTRACT,USD,BASE_SALARY
3,381055942,9.665461e+07,Business Manager,88336.222112,62352.218073,YEARLY,Full-time,"Forney, TX",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,0,FULL_TIME,USD,BASE_SALARY
4,529257371,1.244539e+06,NY Studio Assistant,88336.222112,62352.218073,YEARLY,Full-time,"New York, NY",22.833103,1.690000e+12,...,unknown,ComplexOnsiteApply,1.710000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,1,FULL_TIME,USD,BASE_SALARY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15881,3701373516,7.471803e+07,Sanitation Technician,88336.222112,62352.218073,YEARLY,Part-time,"West Columbia, SC",22.833103,1.690000e+12,...,https://aspirebakeriescareers.com/job/West-Col...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,aspirebakeriescareers.com,0,PART_TIME,USD,BASE_SALARY
15882,3701373522,3.889700e+04,Unit Secretary,88336.222112,62352.218073,YEARLY,Full-time,"Teaneck, NJ",2.000000,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,FULL_TIME,USD,BASE_SALARY
15883,3701373523,3.889700e+04,"Radiology Aide, Perdiem",88336.222112,62352.218073,YEARLY,Part-time,"Teaneck, NJ",22.833103,1.690000e+12,...,https://recruiting.ultipro.com/HOL1005HNMC/Job...,OffsiteApply,1.700000e+12,Entry level,1.690000e+12,recruiting.ultipro.com,0,PART_TIME,USD,BASE_SALARY
15884,3701373524,2.623000e+03,MRI Manager,135000.000000,110000.000000,YEARLY,Full-time,"New York, NY",22.833103,1.690000e+12,...,https://opportunities.columbia.edu/jobs/mri-ma...,OffsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,opportunities.columbia.edu,0,FULL_TIME,USD,BASE_SALARY
15885,3701373527,8.465900e+04,Area Director of Business Development,88336.222112,62352.218073,YEARLY,Full-time,"Vicksburg, MS",2.000000,1.690000e+12,...,unknown,ComplexOnsiteApply,1.700000e+12,Mid-Senior level,1.690000e+12,jobs.smartrecruiters.com,0,FULL_TIME,USD,BASE_SALARY

In [591]:
#counting the data
data.count()

job_id                        15886
company_id                    15886
title                         15886
max_salary                    15886
min_salary                    15886
pay_period                    15886
formatted_work_type           15886
location                      15886
applies                       15886
original_listed_time          15886
views                         15886
job_posting_url               15886
application_url               15886
application_type              15886
expiry                        15886
formatted_experience_level    15886
listed_time                   15886
posting_domain                15886
sponsored                     15886
work_type                     15886
currency                      15886
compensation_type             15886
dtype: int64

In [592]:
#checking for the null values
data.isnull().sum()

job_id                        0
company_id                    0
title                         0
max_salary                    0
min_salary                    0
pay_period                    0
formatted_work_type           0
location                      0
applies                       0
original_listed_time          0
views                         0
job_posting_url               0
application_url               0
application_type              0
expiry                        0
formatted_experience_level    0
listed_time                   0
posting_domain                0
sponsored                     0
work_type                     0
currency                      0
compensation_type             0
dtype: int64

In [593]:
#removing nonascii characters from all variable having strings
def safe_normalize(x):
    if isinstance(x, str):
        return unicodedata.normalize('NFC', x)
    else:
        return str(x)

In [594]:
## Removing nonascii from title
data['title'] = data['title'].apply(safe_normalize)
data['title'] = data['title'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))

In [595]:
## Removing nonascii from pay_period
data['pay_period'] = data['pay_period'].apply(safe_normalize)
data['pay_period'] = data['pay_period'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))

In [596]:
## Removing nonascii from formatted_work_type
data['formatted_work_type'] = data['formatted_work_type'].apply(safe_normalize)
data['formatted_work_type'] = data['formatted_work_type'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))

In [597]:
## Removing nonascii from location
data['location'] = data['location'].apply(safe_normalize)
data['location'] = data['location'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))

In [598]:
## Removing nonascii from job_posting_url
data['job_posting_url'] = data['job_posting_url'].apply(safe_normalize)
data['job_posting_url'] = data['job_posting_url'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))

In [599]:
## Removing nonascii from application_url
data['application_url'] = data['application_url'].apply(safe_normalize)
data['application_url'] = data['application_url'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [600]:
## Removing nonascii from application_type
data['application_type'] = data['application_type'].apply(safe_normalize)
data['application_type'] = data['application_type'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [601]:
## Removing nonascii from expiry
data['expiry'] = data['expiry'].apply(safe_normalize)
data['expiry'] = data['expiry'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [602]:
## Removing nonascii from formatted_experience_level
data['formatted_experience_level'] = data['formatted_experience_level'].apply(safe_normalize)
data['formatted_experience_level'] = data['formatted_experience_level'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [603]:
## Removing nonascii from listed_time
data['listed_time'] = data['listed_time'].apply(safe_normalize)
data['listed_time'] = data['listed_time'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [604]:
## Removing nonascii from posting_domain
data['posting_domain'] = data['posting_domain'].apply(safe_normalize)
data['posting_domain'] = data['posting_domain'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [605]:
## Removing nonascii from work_type
data['work_type'] = data['work_type'].apply(safe_normalize)
data['work_type'] = data['work_type'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [606]:
## Removing nonascii from currency
data['currency'] = data['currency'].apply(safe_normalize)
data['currency'] = data['currency'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))

In [607]:
## Removing nonascii from compensation_type
data['compensation_type'] = data['compensation_type'].apply(safe_normalize)
data['compensation_type'] = data['compensation_type'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x))
#jobpost_df = jobpost_df.replace({'\'': '', '"': '',',':''}, regex=True)

In [608]:
#printing the datatypes
print(data.dtypes)

job_id                          int64
company_id                    float64
title                          object
max_salary                    float64
min_salary                    float64
pay_period                     object
formatted_work_type            object
location                       object
applies                       float64
original_listed_time          float64
views                         float64
job_posting_url                object
application_url                object
application_type               object
expiry                         object
formatted_experience_level     object
listed_time                    object
posting_domain                 object
sponsored                       int64
work_type                      object
currency                       object
compensation_type              object
dtype: object

In [611]:
#Changing from object to string data type for required columns
data['job_id'] = data['job_id'].astype('int64')
data['company_id'] = data['company_id'].astype('int64')
data['title'] = data['title'].astype('string')
#data['description'] = data['description'].astype('string')
data['max_salary'] = data['max_salary'].astype('float64')
data['min_salary'] = data['min_salary'].astype('float64')
data['pay_period'] = data['pay_period'].astype('string')
data['formatted_work_type'] = data['formatted_work_type'].astype('string')
data['location'] = data['location'].astype('string')
data['applies'] = data['applies'].astype('int64')
data['original_listed_time'] = data['original_listed_time'].astype('float64')
data['views'] = data['views'].astype('int64')
data['job_posting_url'] = data['job_posting_url'].astype('string')
data['application_url'] = data['application_url'].astype('string')
data['application_type'] = data['application_type'].astype('string')
data['expiry'] = data['expiry'].astype('string')
data['formatted_experience_level'] = data['formatted_experience_level'].astype('string')
data['listed_time'] = data['listed_time'].astype('string')
data['posting_domain'] = data['posting_domain'].astype('string')
data['sponsored'] = data['sponsored'].astype('int64')
data['work_type'] = data['work_type'].astype('string')
data['currency'] = data['currency'].astype('string')
data['compensation_type'] = data['compensation_type'].astype('string')

In [612]:
#printing the new datatypes
print(data.dtypes)

job_id                          int64
company_id                      int64
title                          string
max_salary                    float64
min_salary                    float64
pay_period                     string
formatted_work_type            string
location                       string
applies                         int64
original_listed_time          float64
views                           int64
job_posting_url                string
application_url                string
application_type               string
expiry                         string
formatted_experience_level     string
listed_time                    string
posting_domain                 string
sponsored                       int64
work_type                      string
currency                       string
compensation_type              string
dtype: object

In [613]:
#counting the data
data.count()

job_id                        15886
company_id                    15886
title                         15886
max_salary                    15886
min_salary                    15886
pay_period                    15886
formatted_work_type           15886
location                      15886
applies                       15886
original_listed_time          15886
views                         15886
job_posting_url               15886
application_url               15886
application_type              15886
expiry                        15886
formatted_experience_level    15886
listed_time                   15886
posting_domain                15886
sponsored                     15886
work_type                     15886
currency                      15886
compensation_type             15886
dtype: int64

In [615]:
data.to_csv('~/Desktop/Preprocessed_Job_Postings.csv',index=False, encoding = 'utf-8')